---
// Import the necessary interfaces
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../constants";
import BaseLayout from "../layouts/BaseLayout.astro";

// Define the frontmatter for this page
const frontmatter: MarkdownInstance<Frontmatter>["frontmatter"] = {
  title: "404 Page",
  description: "404 Page for mxnan.dev",
  ogImage: "/og/og.jpg",
  author: "@mxnan",
};
---

{/* Render the BaseLayout component and pass the required props */}
<BaseLayout pageTitle="404" frontmatter={frontmatter}>
  <section class="py-8 flex-1 flex flex-col gap-44">
    <div class="relative group flex flex-col gap-16 items-center w-full pb-24">
      <h1
        class="md:text-[200px] text-9xl font-bold tracking-wider font-title uppercase text-skyblue"
      >
        404
      </h1>
      <p class="text-greenemerald md:text-5xl text-2xl font-light">
        Page Not Found
      </p>
      <p class="text-greenemerald md:text-base text-xs font-light">
        It looks like you are lost .
      </p>
      {/* animating bottom line */}
      <span
        class="absolute bottom-0 left-1/2 -translate-x-1/2
  h-[0.3px] bg-sky-800
  transition-all duration-700 ease-out
   max-sm:max-w-xs sm:max-w-md group-hover:max-w-[100px] w-full"
      ></span>
    </div>
    <div class="relative group flex flex-col gap-16 items-center w-full pb-44">
      <p class="text-3xl text-greenemerald">Want to Connect ?</p>
      <p class="text-sky-400 flex">
        Send me an Email . ? <img
          src="/icons/chevrons-down.svg"
          alt="home-link"
          class="ml-2"
        />
      </p>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://template-form-emailjs.vercel.app/"
        class="text-greenemerald pb-3 group-hover:bg-[url('/icons/custom-underline.svg')]"
        >Click here</a
      >
      {/* animating bottom line */}
      <span
        class="absolute bottom-0 left-1/2 -translate-x-1/2
 h-[0.3px] bg-skyblue
 transition-all duration-700 ease-out
  max-sm:max-w-xs sm:max-w-md group-hover:max-w-[100px] w-full"
      ></span>
    </div>
  </section>
</BaseLayout>
