---
// Import the necessary interfaces
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../constants";
import BaseLayout from "../layouts/BaseLayout.astro";

// Define the frontmatter for this page
const frontmatter: MarkdownInstance<Frontmatter>["frontmatter"] = {
  title: "404 Page",
  description: "404 Page for mxnan.dev",
  ogImage: "/og/og.jpg",
  author: "@mxnan",
};
---

{/* Render the BaseLayout component and pass the required props */}
<BaseLayout pageTitle="404" frontmatter={frontmatter}>
  <section class="container mx-auto py-8">404</section>
</BaseLayout>
