---
import type { HTMLAttributes } from "astro/types";

interface BlockquoteProps extends HTMLAttributes<"blockquote"> {
  blockquote: string;
}

const props = Astro.props as BlockquoteProps;
---

<blockquote {...props} class="flex items-center font-title gap-6 border-greenemerald">
  <span class="text-4xl text-greenemerald mb-2">“</span>
  <span class="text-xl font-semibold text-skyblue"><slot /></span>
  <span class="text-4xl text-greenemerald">”</span>
</blockquote>
