---

---

<header class="py-8 flex justify-center group items-center">
  <a href="/" class="rounded-full bg-zinc-800 p-2">
    <img
      src="/icons/home.svg"
      alt="home-link"
      class="group-hover:rotate-180 group-hover:scale-150 group-hover:animate-pulse transition-transform ease-in-out duration-800"
    />
  </a>
</header>
