---

---

<header class="py-8 flex justify-center items-center">
  <a href="/">
    <img
      src="/icons/home.svg"
      alt="home-link"
      class="animate-bounce transition-transform ease-in-out duration-700"
    />
  </a>
</header>
