---

---
<header class="py-8 flex justify-center items-center">
  <a href="/">
    <img
      src="/icons/home.svg"
      alt="home-link"
      width="20"
      height="20"
      class="animate-bounce hover:scale-125 transition-transform ease-in-out duration-700"
    />
  </a>
</header>
