---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../../constants";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";

//get slug
const { slug } = Astro.params;
// error check for slug
if (slug === undefined) {
  throw new Error("slug is required");
}
//get entry
const entry = await getEntry("blog", slug);
//check entry
if (entry === undefined) {
  return Astro.redirect("/404");
}
//get content
const { Content } = await entry.render();

// Define the frontmatter for this page
const frontmatter: MarkdownInstance<Frontmatter>["frontmatter"] = {
  title: entry.data.title,
  description: entry.data.description,
  ogImage: entry.data.ogimage,
  author: entry.data.author,
};
---

<BaseLayout pageTitle={entry.data.title} frontmatter={frontmatter}>
  <section>
    <a href="/blogs">back</a>
    <article class="prose"><Content /></article>
  </section>
</BaseLayout>
